.header {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: left;
    border-bottom: solid 2px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    margin-left: 50px;
}
.nav_item {
    margin-left: 50px;
    font-style: bold;
}
