<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about you</title>
</head>
<body>
    <h2>Name: Jonathan Lloyd</h2>
    <p>
        I am busy with software engineering with hyperiondev
    </p>
    <p>
        Here are two of my previous tasks' html.
    </p>
    <ul>
        <li>
            My online CV
            <a href="/online_cv">click here</a>
        </li>
        <li>
            A small e-commerce website example with bootstrap
            <a href="/yum_yum">click here</a>

        </li>
    </ul>
</body>
</html>